body {
    background-color: lightblue;
}
#main-title {
    color: darkblue;
}

.subtitle {
    color: darkgreen;
    font-style: italic;
}

#nav-title {
    color: purple;
}

.nav-link {
    color: red;
    text-decoration: none;
}

body > a {
    display: block;
    margin-bottom: 10px;
}

.profile {
    text-align: center;
    max-width: 600px;
    margin: 40px auto;
    padding: 25px;
    background-color: white;
    border: 2px solid darkblue;
    border-radius: 15px;
    box-shadow: 0 0 10px gray;
}
.gallery-img {
    display: block;
    margin: 20px auto;
    max-width: max-width: 400px;;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}
h1 {
    text-align: center;
}
#nav-title {
    margin-bottom: 10px;
}

.nav-link {
    display: inline-block;
    margin-bottom: 8px;
}
.contact-phone {
    text-align: center;
}
.contact-info {
    text-align: center;
    font-size: 18px;
}
